<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
 lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Ville</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
  <div layout:fragment="content">
  
            <div class="page-header">
              <h3 class="page-title"> Ville </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a >Ville</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add</li>
                </ol>
              </nav>
            </div>
            <div class="row">
         	<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  <form class="forms-sample" th:action="@{/saveVille}" method="post" th:object="${ville}">
                      <div class="form-group">
                        <label for="exampleInputName1">Nom</label>
                        <input name="name" type="text" class="form-control form-control-lg " id="exampleInputName1" placeholder="Name" >
                        <span th:errors="${ville.name}" class="text-danger"></span>
                      </div>
                      <div  class="form-group">
                        <label for="longitude">longitude</label>
                        <input  style="-moz-appearance: textfield;" name="longitude" type=number
                         step=0.01 class="form-control form-control-lg " 
                         id="exampleInputName1" placeholder="Longitude" 
                         th:value="${ville.longitude}" required >
                     	<span th:errors="${ville.longitude}" class="text-danger"></span>
                      </div>
                      <div  class="form-group">
                        <label for="Latitude">Latitude</label>
                        <input style="-moz-appearance: textfield;" name="latitude" type=number
                         step=0.01 class="form-control form-control-lg " 
                         id="exampleInputName1" placeholder="Latitude" 
                         th:value="${ville.latitude}" required>
                      <span th:errors="${ville.latitude}" class="text-danger"></span>
                      </div>
                      
                      <div  class="form-group">
                        <label for="Altitude">Altitude</label>
                        <input style="-moz-appearance: textfield;" name="altitude" type=number
                         step=0.01 class="form-control form-control-lg " 
                         id="exampleInputName1" placeholder="Altitude" th:value="${ville.altitude}" required>
                		<span th:errors="${ville.altitude}" class="text-danger"></span>
                      </div>
                     
                      
                      <button type="submit" class="btn btn-gradient-primary mr-2">Add</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
         		
            </div>
          
  </div>
  	  
    
  </body>
</html>