<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
 lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ville List</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
  <div layout:fragment="content">
  
            <div class="page-header">
              <h3 class="page-title"> Ville </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a >Ville</a></li>
                  <li class="breadcrumb-item active" aria-current="page">List</li>
                </ol>
              </nav>
            </div>
            <div class="row">
         	<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  
                  <form method="get" th:action="@{allVilles}">
                  <div class="input-group">
                  
                  <input type="text" name="keyword" class="form-control" placeholder="Tap Name Here" th:value="${Keyword}">
                  <button class="btn btn-sm btn-gradient-primary" >Search</button> 
                  </div>
                  </form>
                 
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="v:${villes}">
                          <td th:text="${v.id}"></td>
                          <td th:text="${v.name}"></td>
                          
                          <td><a type="button" class="btn btn-gradient-primary btn-rounded btn-fw" th:href="@{editVille(id=${v.id})}">Update</a></td>
                          <td><a onclick="return confirm('voulez vouz sure supprimer!')" class="btn btn-gradient-danger btn-rounded btn-fw" th:href="@{deleteVille(id=${v.id})}">Delete</a></td>
                        </tr>
                      </tbody>
                    </table>
                    <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                         th:href="@{allVilles(page=${status.index},size=${size},keyword=${keyword})}" th:text="${status.index}"></a>
                        
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
         		
            </div>
          
  </div>
  	  
    
  </body>
</html>